.wrapper{
    width: 420px;
    border-radius: 10px;
    border: 2px solid black;
    padding:20px 10px 10px 20px;    
    background: transparent;
    backdrop-filter: blur(50px);

}


.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}

.input-box input{
    background:transparent;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border: 2px solid black;

    font-size: large;

    padding: 0 50px 0 25px;
}

.input-box input::placeholder{
    color: black;
    font-size: large;
}

.wrapper .icon{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 100%;
}


.buttons div:hover{
    background-color: rgb(63, 65, 87);
    color: white;
}

.submit{

    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 10px;
    width: 700px;
}

.gray{
    border: none;
    background-color: transparent;
    }

.submit-button{
    padding-top: 40px;
    padding-bottom: 10px;
}   

.submit-button button{
    background-color: rgb(63, 65, 87);;
    width: 50%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 25px;
}

.submit-button button:hover{

    color: white;
    background-color: rgb(63, 65, 87);
}