.wrapper{
    
    width: 450px;
    border-radius: 10px;
    /* border: 2px solid black; */
    padding:20px 10px 10px 20px;    
    background: transparent;
    backdrop-filter: blur(50px);
    /* background: url('../light_purple_gradient-wallpaper-1920x1080.jpg'); */

    background-color: rgb(27, 83, 75);
    background-color: rgb(40,43,48);


}

form>h1{

    color: white;
}


.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}

.input-box input{
    background:transparent;
    border-radius: 10px;

    height: 100%;
    width: 100%;

    outline: none;
    border: none;
    border: 2px solid silver;
    color: white;
    font-size: large;

    padding: 0 50px 0 25px;
}

.input-box input::placeholder{
    color: white;
    font-size: large;
}

.wrapper .icon{
    position: absolute;
    right: 20px;
    top: 15px;

    font-size: 20px;
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 100%;
}


.buttons div:hover{
    /* background-color: rgb(63, 65, 87); */
    color: white;
}

.submit{

    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 10px;
    width: 700px;
    transition: all 0.3s ease-in-out;
    color: white;
}

.gray{
    border: none;
    background-color: transparent;
    color: black;
    }

.submit-button{
    padding-top: 40px;
    padding-bottom: 10px;
}   

.submit-button button{
    background-color: orangered;
    background-color: rgb(81, 106, 197);

    width: 44%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.submit-button button:hover{

    /* color: white; */
    border: 2px solid gray;
    width: 42%;
    /* background-color: rgb(63, 65, 87); */
}